<!doctype html>
<!-- note that this is the start of the header which is copied across files -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US">
<!--<![endif]-->

<head>

  <!-- Meta Tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!-- Mobile Specifics -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Title -->
  <title>Ada & Leo: creative engineering for kids</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="images/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="images/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="images/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/icons/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="images/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="shortcut icon" href="images/icons/favicon-16x16.png" />

  <!-- quick google fonts -->
  <!--
<link href='https://fonts.googleapis.com/css?family=Questrial|Roboto+Slab:400,300|Maven+Pro|Raleway:400,200|Roboto' rel='stylesheet' type='text/css'>
-->
  <link href='https://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet'
    type='text/css'>



  <!-- Apple Touch Icons -->

  <!-- RSS & Pingbacks -->
  <!--
<link rel="alternate" type="application/rss+xml" title="Ada & Leo: creative engineering for kids" href="feed/index.html" />
<link rel="pingback" href="xmlrpc.php" />
-->

  <style type='text/css'>
    .tp-caption a {
      color: #ff7302;
      text-shadow: none;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out
    }

    .tp-caption a:hover {
      color: #ffa902
    }
  </style>
  <link rel='stylesheet' id='md-icons-css' href='wp-content/themes/mito/framework/assets/fonts/fonts.css'
    type='text/css' media='all' />
  <link rel='stylesheet' id='mito-shortcodes-fonts-css' href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C700%2C300%2C800&#038;ver=4.0.9'
    type='text/css' media='all' />
  <link rel='stylesheet' id='mito-default-fonts-css' href='http://fonts.googleapis.com/css?family=Roboto%3A400%2C300%2C500%2C700&#038;ver=4.0.9'
    type='text/css' media='all' />
  <link rel='stylesheet' id='redux-google-fonts-css' href='http://fonts.googleapis.com/css?family=Open+Sans%3A600%2C400%7CLora&#038;ver=1409301446'
    type='text/css' media='all' />

  <link rel='stylesheet' id='mito-css' href='wp-content/themes/mito/style.css' type='text/css'
    media='all' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">


  <script type='text/javascript' src='wp-includes/js/jquery/jquery.js'></script>
  <script type='text/javascript' src='wp-includes/js/jquery/jquery-migrate.min.js'></script>

<!-- underscore -->
    <script src="http://underscorejs.org/underscore.js"></script>

<!-- angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-sanitize.js"></script>


<!-- app -->
    <script src="app.js"></script>

</head>
<!-- end of effective header -->



<body ng-app="AdaLeoApp" class="home page page-id-11 page-template-default md-page-builder" style="background-color:#030e18;"
  data-device="desktop" data-css3-animations="enabled" data-layout="full-width" data-header-fixed="true"
  data-header-transparent="false" data-header-scroll-transparent="true" data-onepage="false">


  <div id="wrap">


    <header id="header" class=" transparent">
      <div class="header-content" id="header-content">
        <div class="container">
          <div class="row">
            <div class="col-xs-7 col-sm-5 col-md-4 col-lg-4">
              <div id="logo">
                <a href="index.html" title="Ada & Leo: creative engineering for kids">
                  <img src="images/colortextlogo.png" alt="" />

                </a>
              </div>
            </div>

            <div class="col-md-8 menu-area">


<!-- side by side menu  -->
              <nav id="header-menu">
                <ul id="menu-primary-menu" class="menu">
                  <li class="menu-item-6276 menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-11 current_page_item menu-item-has-children simple">
                    <a href="index.html#classschedule">Classes</a>
                    <ul class="sub-menu">
                      <li class="menu-item-6867 menu-item menu-item-type-post_type menu-item-object-page "><a href="index.html#classschedule">Classes offered</a></li>
                      <li class="menu-item-6847 menu-item menu-item-type-post_type menu-item-object-page "><a href="http://goo.gl/forms/MsaV1rG2Ni">Enroll now</a></li>
                      <li class="menu-item-6849 menu-item menu-item-type-custom menu-item-object-custom "><a href="index.html#learnmore">Program description</a></li>
                    </ul>
                  </li>
                  <li class="menu-item-5 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children simple"><a href="index.html#learnmore">Learn More</a>
                    <ul class="sub-menu">
                      <li class="menu-item-6724 menu-item menu-item-type-post_type menu-item-object-page "><a href="#learnmore">Program description</a></li></a></li>
                      <li class="menu-item-6723 menu-item menu-item-type-post_type menu-item-object-page "><a href="index.html#whoweare">Who we are</a></li>
                      <li class="menu-item-6883 menu-item menu-item-type-post_type menu-item-object-page "><a href="index.html#articles">Articles</a></li>
                      <li class="menu-item-6883 menu-item menu-item-type-post_type menu-item-object-page "><a href="quicklinks.html">Quick Links</a></li>
                      <li class="menu-item-6476 menu-item menu-item-type-post_type menu-item-object-page "><a href="index.html#faq">FAQ</a></li>
                    </ul>
                  </li>
                  <li class="menu-item-5 menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children simple"><a href="index.html#contact">Contact</a>
                </ul>
              </nav>



              <!--
REENABLE THIS TO HAVE MENU HAMBURGER
-->
              <a href="index.html" id="menu-mobile-trigger">
                <span class="top"></span>
                <span class="bottom"></span>
                <span class="left"></span>
                <span class="right"></span>
              </a>

            </div>
          </div>
        </div>
      </div>

      <div id="header-mobile">
        <div class="container">
          <!--
REENABLE THIS TO HAVE MENU HAMBURGER
-->
          <nav id="header-menu-mobile">
            <ul id="menu-primary-menu-1" class="menu">


              <li class="menu-item-6847 menu-item menu-item-type-post_type menu-item-object-page "><a href="http://goo.gl/forms/MsaV1rG2Ni">Enroll</a>
              </li>
              <li class="menu-item-6847 menu-item menu-item-type-post_type menu-item-object-page "><a href="index.html#classschedule">Classes offered</a>
              </li>
              <li class="menu-item-6867 menu-item menu-item-type-post_type menu-item-object-page "><a href="index.html#learnmore">About the program</a>
              </li>
              <li class="menu-item-6847 menu-item menu-item-type-post_type menu-item-object-page "><a href="index.html#whoweare">Who we are</a>
              </li>
              <li class="menu-item-6847 menu-item menu-item-type-post_type menu-item-object-page "><a href="index.html#articles">Articles</a>
              </li>
              <li class="menu-item-6847 menu-item menu-item-type-post_type menu-item-object-page "><a href="quicklinks.html">Quick Links</a>
              </li>
              <li class="menu-item-6847 menu-item menu-item-type-post_type menu-item-object-page "><a href="index.html#faq">FAQ</a>
              </li>
              <li class="menu-item-6847 menu-item menu-item-type-post_type menu-item-object-page "><a href="index.html#contact">Contact</a>
              </li>

            </ul>

            <!--
end of hamburger
-->
          </nav>
        </div>
      </div>
    </header>


    <div id="page-container">

      <div class="page-content" id="page-container">



        <div id="post-11" class="post-11 page type-page status-publish hentry">

          <div class="page-section visible-lg content-fixed padding-small fullscreen bg-image bg-parallaxify"
            style="background-color:#ffffff;background-image:url(images/senmeri_compressed.jpg);"
            data-parallaxify-background-range="30">
            <div class="container">
              <div class="section-content">
                <div class="section-columns textaligncenter">

                  <div class="clearfix" style="height:45px; “position: relative; width: 100%"></div>
                  <div style="font-family: 'Raleway', sans-serif; font-weight: 400; color: white; line-height: 100%; width: 75%; padding: 50px 25px 25px; background-color: rgba(50, 100, 200, 0.2); position: relative; margin: 0 auto;">
                    <p style="padding: 0 0 30px; margin: 0; font-size: 6rem; line-height: 120%;">Creative engineering for kids</p>
<!--                     <p style="padding-bottom: 0; font-weight: 400; font-size: 4rem; line-height: 120%;">Open house: Saturday, Jan 30th</p>
 -->

                     <p style="padding-bottom: 0; font-weight: 400; font-size: 4rem; line-height: 120%;">Classes starting Sat Feb 6th, Sat Feb 27</p>
                    <div style="width: 400px; position: relative; margin: -15px auto 30px; padding: 10px 0 40px 10px;">
                      <a href="#learnmore" class="md-button animate fadeInUp button-hero medium style-2"
                        style="float: left; width: 160px; margin: 10px; display: inline-block;border-color:#ffffff; color:#ffffff;"
                        data-color="#ffffff" data-color-hover="#111111" data-delay="100"><span class="lbl"></span>LEARN MORE</a>
                      <a href="http://goo.gl/forms/z4IY2m1aLR" class="md-button animate fadeInUp button-hero medium style-2"
                        style="float: left; width: 160px; margin: 10px; display: inline-block; border-color:#fff; color:#2f2;"
                        data-color="#2b2" data-color-hover="#ff0" data-delay="600"><span class="lbl"></span>ENROLL</a>
                    </div>
                  </div>

                </div>
                <div class="clearfix"></div>

              </div>
            </div>
          </div>
        </div>


        <div class="page-section visible-sm visible-md hidden-lg content-fixed padding-medium bg-image bg-parallax"
          style="background-color:#ffffff;background-image:url(images/senmeri_compressed.jpg);"
          data-type="background" data-speed="3">
          <div class="container">
            <div class="section-content">
              <div class="section-columns textaligncenter">

                <div class="clearfix" style="height:15px; “position: relative; width: 100%"></div>
                <div style="font-family: 'Raleway', sans-serif; font-weight: 400; color: white; line-height: 100%; width: 95%; padding: 50px 10px 25px; background-color: rgba(50, 100, 200, 0.2); position: relative; margin: 0 auto;">
                  <p style="padding-bottom: 1rem; font-size: 4rem; line-height: 120%;">Creative engineering for kids</p>
<!--                   <p style="padding-bottom: 0; font-weight: 400; font-size: 2.5rem; line-height: 120%;">Open house: Saturday, Jan 30th</p>
 -->
                  <p style="padding-bottom: 0; font-weight: 400; font-size: 2.5rem; line-height: 120%;">Classes starting Sat Feb 6th, Sat Feb 27</p>
                  <div style="width: 400px; position: relative; margin: -15px auto 30px; padding: 10px 0 40px 10px;">
                    <a href="#learnmore" class="md-button animate fadeInUp button-hero medium style-2"
                      style="float: left; width: 160px; margin: 10px; display: inline-block;border-color:#ffffff; color:#ffffff;"
                      data-color="#ffffff" data-color-hover="#111111" data-delay="100"><span class="lbl"></span>LEARN MORE</a>

                    <a href="http://goo.gl/forms/z4IY2m1aLR" class="md-button animate fadeInUp button-hero medium style-2"
                      style="float: left; width: 160px; margin: 10px; display: inline-block; border-color:#fff; color:#2f2;"
                      data-color="#2b2" data-color-hover="#ff0" data-delay="600"><span class="lbl"></span>ENROLL</a>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>

        <!-- PHONES -->

        <div class="page-section visible-xs hidden-sm content-fixed padding-xs bg-image bg-parallax"
          style="background-color:#ffffff;background-image:url(images/senmeri_compressed.jpg);"
          data-type="background" data-speed="3">
          <div class="container">
            <div class="section-content">
              <div class="section-columns textaligncenter">

                <div class="clearfix" style="height:15px; “position: relative; width: 100%"></div>
                <div style="font-family: 'Raleway', sans-serif; font-weight: 400; color: white; line-height: 100%; width: 100%; padding: 15px 2vw 10px; background-color: rgba(50, 100, 200, 0.2); position: relative; margin: 0 auto;">
                  <p style="padding-bottom: 0rem; font-size: 4rem; line-height: 120%;">Creative engineering for kids</p>
<!--                   <p style="padding-bottom: 0; font-weight: 400; font-size: 2.5rem; line-height: 120%;">Open house: Saturday, Jan 30th</p>
 -->                  <p style="padding-bottom: 0; font-weight: 400; font-size: 2.5rem; line-height: 120%;">Classes starting Sat Feb 6th, Sat Feb 27</p>
                  <div style="width: 180px; position: relative; margin: -15px auto 30px; padding: 10px 0 40px 10px;">
                    <a href="#learnmore" class="md-button animate fadeInUp button-hero medium style-2"
                      style="float: left; width: 160px; margin: 10px; display: inline-block;border-color:#ffffff; color:#ffffff;"
                      data-color="#ffffff" data-color-hover="#111111" data-delay="100"><span class="lbl"></span>LEARN MORE</a>
                    <div class="clearfix"></div>

                    <a href="http://goo.gl/forms/z4IY2m1aLR" class="md-button animate fadeInUp button-hero medium style-2"
                      style="float: left; width: 160px; margin: 10px; display: inline-block; border-color:#fff; color:#2f2;"
                      data-color="#2b2" data-color-hover="#ff0" data-delay="600"><span class="lbl"></span>ENROLL</a>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <div style="text-align: center; font-size: 1.5rem; padding: 3px 5px"><em>Photo: Senmeri A., Gyasi B. and Amaya B. use video games and custom controllers made in the class</em>
        </div>

        <!-- END OF HEADER -->

        <div class="page-section content-fixed padding-xs bg-default" style="">
          <div class="container">
            <div class="section-content">
              <div class="section-columns">


                <div class="clearfix" style="height:5px"></div>
                <div class="row">


                </div>
              </div>
            </div>
          </div>
          <!-- above is extra -->



          <div class="page-section content-fixed padding-xs bg-default" style="">
            <div class="container">
              <div class="section-content">
                <div class="section-columns">

                  <div class="clearfix" style="height:5px"></div>
                  <div class="row">

                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                      <div style="font-size: 2rem; line-height: 150%">
                        <div style="text-align: center;">

                          <img src="images/faces_regular_compressed.jpg" class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2"
                            style="left: -10px;" />


                          <div class="clearfix" style="height:15px"></div>
                          <a name="learnmore"></a>

                          <div class="clearfix" style="height:15px"></div>


                          <p>____________________________
                          </p>
                          <p style="color: green">Creative engineering in the tradition of:
                          </p>
                          <p style="margin-bottom: 10px;  color: green ">Ada Lovelace
                            <br><span style="font-size: 1.5rem;color: green">(the first computer programmer)</span>
                          </p>
                          <p style="margin-bottom: 10px;  color: green ">&
                          </p>
                          <p style="margin-bottom: 10px;color: green">Leonardo da Vinci
                            <br><span style="font-size: 1.5rem;  color: green ">(artist and inventor)</span>
                            <p>___________________________
                            </p>
                            <p>
                            </p>
                        </div>

                        <p>Ada & Leo is a kids' tech program focused on learning
                          and creativity!
                        </p>

                        <p>We offer several different afterschool and weekend courses for
                        kids of various ages, generally 6-12 years old.
                        </p>

                        <p>No prior experience is necessary!</p>

<!--
                        <p style="color: #e44 ">There will be an open house for students and parents on Saturday,
                          Jan 30th, 9:30-10:15, where we will show the kinds of activities
                          we do and answer questions.</p>
                        </p>


                        <p>The winter/spring 2016 session will be Saturdays from 9:30-10:45,
                          Feb 6 through April 16 (10 classes, excluding Sat Feb 20,
                          during February vacation.)
                        </p>
-->

<!--
                        <p style="color: #44e ">Please note the class is currently at capacity, but please
                          <a href="http://goo.gl/forms/z4IY2m1aLR ">join the waitlist</a>                          and

-->
<!--
                        <a href="http://goo.gl/forms/UiKmNFF4TG ">let us know about your
schedule availability</a>.</p>
-->

                        <h3>Intro to Creative Tech</h3>

                        <p>This is our flagship course!
                        <p>Students will learn how to use technology creatively,  by experimenting with our favorite technological learning tools  and participating in exercises that bring technological concepts to life.

                        <p>Topics vary by teacher, age group and length of the course, but usually include:
                        <h4>Programming</h4>
                        <ul class="md-list list-icon">
                        <li><i class="fa fa-code icon" style="color:#44e;"></i>Coding games and other interactive programs in Scratch and/or Pencilcode</li>
                        <li><i class="fa fa-code icon" style="color:#44e;"></i>Experimenting with code to solve problems</li>
                        <li><i class="fa fa-code icon" style="color:#44e;"></i>Stepping through code to recreate computer logic</li>
                        </ul>
                        <h4>Circuitry</h4>
                        <ul class="md-list list-icon">
                        <li><i class="fa fa-lightbulb-o icon" style="color:#f90;"></i>Making electrified art that lights up</li>
                        <li><i class="fa fa-lightbulb-o icon" style="color:#f90;"></i>Acting out the roles electronic components play</li>
                        <li><i class="fa fa-lightbulb-o icon" style="color:#f90;"></i>Experimenting to find what materials are conductive and nonconductive</li>
                        <li><i class="fa fa-lightbulb-o icon" style="color:#f90;"></i>Using a Makey Makey device to create our own electric instruments</li>
                        </ul>
                        <h4>3D Design</h4>
                        <ul class="md-list list-icon">
                        <li><i class="fa fa-cube icon" style="color:#e44;"  aria-hidden="true"></i>Imagining and sketching 3D shape diagrams</li>
                        <li><i class="fa fa-cube icon" style="color:#e44;"  aria-hidden="true"></i>Using TinkerCAD to design 3D landscapes and sculptures</li>
                        <li><i class="fa fa-cube icon" style="color:#e44;"  aria-hidden="true"></i>3D printing our designs and examining how the printer made them</li>
                        <li><i class="fa fa-cube icon" style="color:#e44;"  aria-hidden="true"></i>Looking at what goes wrong with delicate mechanical procedures</li>
                        </ul>

                        <h3>Animation</h3>
                        <p>Students will  use several methods and programs to create their own original animation films!
                        <p>This new course is under active development; topics will likely include:
                        <h4>Plotting and storyboarding</h4>
                        <ul class="md-list list-icon">
                        <li><i class="fa fa-file-image-o icon" style="color:#d79;"  aria-hidden="true"></i>How to design a visual story and plan the filming process</li>
                        </ul>
                        <h4>Stop motion</h4>
                        <ul class="md-list list-icon">
                        <li><i class="fa fa-film icon" style="color:#395;"  aria-hidden="true"></i>How to create fluid motion out of a series of separate changes</li>
                        </ul>
                        <h4>Editing</h4>
                        <ul class="md-list list-icon">
                        <li><i class="fa fa-desktop icon" style="color:#999;"  aria-hidden="true"></i>Software and techniques used in creating shareable, presentable movies!</li>
                        </ul>
<!--
                        <h3></h3>
                        <p>Students will...
                        <p>Topics include:
                        <h4></h4>
                        <ul>
                        <li></li>
                        </ul>
-->

                        <h3>Our promise</h3>
                        <p>All teachers are trained and vetted. The program is safety-conscious.
                        </p>

                        <p>Even more importantly, we promise to care for the heart,
                          mind and spirit of curiosity in your child as if they were
                          our own children... (who will be in the class too!)
                        </p>

                        <div style="position: relative; width: 100%; padding-top: 15px; ">
                          <div style="position: relative; width: 250px; margin: 0 auto; ">
                            <a href="http://goo.gl/forms/z4IY2m1aLR " class="md-button animate fadeInUp button-hero large style-2 "
                              style="width: 250px; display: block; border-color:#000; color:#2b2; "
                              data-color="#2b2 " data-color-hover="#ff0 " data-delay="200 "><span class="lbl "></span>ENROLL</a>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <a name="classschedule"></a>
          <div ng-controller="CoursesController">
            <div class="page-section content-full padding-xs bg-default" style="background-color: #45B2D3; ">
              <div class="container">
                <div class="section-content">
                  <div class="section-columns">
                    <div class="clearfix" style="height:5px"></div>
                    <div class="row">
                      <h1 class="text-center" style="font-family: Raleway; font-weight: 400; color: white;">Class Schedule
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="page-section visible-xs visible-sm hidden-md hidden-lg content-fixed bg-default padding-xs" style="">
              <div ng-repeat="season by seasons">
                <div ng-repeat="course in coursesForSeason(season)">
                  <div class="container">
                    <div class="section-content">
                      <div class="clearfix" style="height:5px"></div>
                      <div class="row">
                        <div class="col-xs-10 col-offset-1">
                          <h4 ng-if="$first">{{course.session}} Session</h4>
                          <dl class="dl-horizontal">
                            <dt>Title</dt>
                            <dd ng-style='{"color": deterministicWebColor("title")}'>{{course.title}}
                            </dd>
                            <dt>Eligible students</dt>
                            <dd ng-style='{"color": deterministicWebColor("eligible")}'>{{course.eligible}}
                            </dd>
                            <dt>Ages</dt>
                            <dd ng-style='{"color": deterministicWebColor("ages")}'>{{course.ages}}
                            </dd>
                            <dt>Times</dt>
                            <dd ng-style='{"color": deterministicWebColor("times")}'>{{course.times}}
                            </dd>
                            <dt>Dates</dt>
                            <dd ng-style='{"color": deterministicWebColor("dates")}'>{{course.dates}}
                            </dd>
                            <dt><ng-pluralize count="course.teachers.length"
                   when="{'0': 'Teacher',
                       '1': 'Teacher',
                       'other': 'Teachers'}">
  </ng-pluralize></dt>
                            <dd><a href="#whoweare"><span ng-repeat="teacher in course.teachers"><span ng-style='{"color": deterministicWebColor(teacher)}'>{{teacher}}</span><span ng-if="!$last && course.teachers.length > 1"> and </span></span></a></dd>
                            <dt>Location</dt>
                            <dd ng-style='{"color": deterministicWebColor("location")}'>{{course.location}}
                            </dd>
                            <dt>Cost</dt>
                            <dd ng-style='{"color": deterministicWebColor("cost")}'>{{course.cost}}
                            </dd>
                            <dt>Enroll</dt>
                            <dd>
                             <a ng-href="{{course.signupurl}}" class="md-button small animate fadeInUp button-hero style-2 "
                             style="width: 80px; display: block; border-color:#000; color:#2b2;"
                             data-color="#2b2 " data-color-hover="#ff0 " data-delay="50 "><span ng-if="course.status == 'waitlist'">Wait List</span><span ng-if="course.status == 'enroll'">Enroll</span></a>
                            </dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>  <!-- closes ng course in courses -->
              </div>
            </div>
            <div class="page-section visible-md visible-lg hidden-xs hidden-sm content-fixed bg-default padding-xs" style="">
              <div ng-repeat="course in courses">
                <div class="container">
                  <div class="section-content">
                    <div class="clearfix" style="height:5px"></div>
                    <div class="row">
                      <h4>{{course.session}} Session</h4>
                      <table class="table">
                        <tr>
                          <th>Title</th>
                          <th>Eligibility</th>
                          <th>Ages</th>
                          <th>Times</th>
                          <th>Dates</th>
                          <th><ng-pluralize count="course.teachers.length"
                 when="{'0': 'Teacher',
                     '1': 'Teacher',
                     'other': 'Teachers'}">
</ng-pluralize></th>
                          <th>Location</th>
                          <th>Cost</th>
                          <th>Status</th>
                          <th>Enroll</th>
                        </tr>
                        <tr>
                          <td ng-style='{"color": deterministicWebColor("title")}'>{{course.title}}
                          </td>
                          <td ng-style='{"color": deterministicWebColor("eligible")}'>{{course.eligible}}
                          </td>
                          <td ng-style='{"color": deterministicWebColor("ages")}'>{{course.ages}}
                          </td>
                          <td ng-style='{"color": deterministicWebColor("times")}'>{{course.times}}
                          </td>
                          <td ng-style='{"color": deterministicWebColor("dates")}'>{{course.dates}}
                          </td>
                          <td><a href="#whoweare"><span ng-repeat="teacher in course.teachers"><span ng-style='{"color": deterministicWebColor(teacher)}'>{{teacher}}</span><span ng-if="!$last && course.teachers.length > 1"> and </span></span></a></td>
                          <td ng-style='{"color": deterministicWebColor("location")}'>{{course.location}}
                          </td>
                          <td ng-style='{"color": deterministicWebColor("cost")}'>{{course.cost}}
                          </td>
                          <td>
                            <span ng-if="course.status == 'waitlist'">
                              <span style="color: red">Currently full</span><br><i><span style="color: orange">Wait list available</span></i></span>
                            </span>
                            <span ng-if="course.status == 'enroll'">
                              <span style="color: green">Space available</span>
                            </span>
                          </td>
                          <td>
                            <a ng-href="{{course.signupurl}}"
                            class="md-button small animate fadeInUp button-hero style-2 "
                            style="width: 100px; display: block; border-color:#000; color:#2b2; "
                            data-color="#2b2 " data-color-hover="#ff0 " data-delay="50 ">
                            <span ng-if="course.status == 'waitlist'">Wait List</span><span ng-if="course.status == 'enroll'">Enroll!</span></a>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

<!-- sample section -->
<!--           <div class="page-section content-full padding-xs bg-default" style="background-color: #45B2D3; ">
            <div class="container">
              <div class="section-content">
                <div class="section-columns">
                  <div class="clearfix" style="height:5px"></div>
                  <div class="row">
                    <h1 class="text-center" style="font-family: Raleway; font-weight: 400; color: white;">Class Schedule
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-section visible-xs visible-sm hidden-md hidden-lg content-fixed bg-default padding-xs" style="">
            <div class="container">
              <div class="section-content">
                <div class="clearfix" style="height:5px"></div>
                <div class="row">
                  <div class="col-xs-10 col-offset-1">
                    <h4>Winter/Spring 2016 Session</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-section visible-md visible-lg hidden-xs hidden-sm content-fixed bg-default padding-xs" style="">
            <div class="container">
              <div class="section-content">
                <div class="clearfix" style="height:5px"></div>
                <div class="row">
                  <h4>Winter/Spring 2016 Session</h4>
                </div>
              </div>
            </div>
          </div>
 -->


          <a name="whoweare"></a>
          <div class="page-siction padding-xs">
          </div>
          <div class="page-section content-full padding-xs bg-default" style="background-color: #d9534f; ">
            <div class="container">
              <div class="section-content">
                <div class="section-columns">
                  <div class="clearfix" style="height:5px"></div>
                  <div class="row">
                    <h1 class="text-center" style="font-family: Raleway; font-weight: 400; color: white;">Who we are
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-section content-fixed bg-default padding-xs" style="font-size: 1.6rem; line-height: 150%" ng-controller="ColorController">
            <div class="container">
              <div class="section-content">
                <div class="clearfix" style="height:5px"></div>
                <div class="row">
                  <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                    <h4 ng-style='{"color": deterministicWebColor("Ben Wheeler")}'>Ben Wheeler</h4>
                    <p>Ben is a veteran developer and teacher in Brooklyn. He’s taught hundreds of people to program,
                    helped foment a revolution (ask him sometime!), and makes a mean gumbo.
                    His work has been published in the
                    Harvard International Review and The Best of Make Magazine, and he is <span style="background-color: yellow">totally geeking out</span> about the phenomenal talent of the teachers below.
                    You can see even more of his eclectic interests at
                    <a href="http://techno-social.com">techno-social.com</a>.
                    <h4 ng-style='{"color": deterministicWebColor("Audrey Fox")}'>Audrey Fox</h4>
                    <p>Audrey is a MFA candidate in Design and Technology at Parsons in New York City.
                    She is an experienced branding designer as well as a tech educator for children.
                    Her current work focuses on using sensors, computer vision and Internet of Things to build <span style="background-color: yellow">multi-sensory
                    interactive environments</span>. See more at <a href="http://www.artificialforest.com/">artificialforest.com</a>.
                    <h4 ng-style='{"color": deterministicWebColor("2Ayodamola Okunseinde")}'>Ayodamola Okunseinde</h4>
                    <p>Ayodamola ("Ayo" for short) is an artist and interactive designer, and is currently an adjunct
                    faculty member at The New School, Parsons School of Design. His works range from painting and
                    speculative design to <span style="background-color: yellow">physically interactive works and explorations of Afrofuturism</span>.
                    See more of his work at <a href="http://www.ayo.io/">ayo.io</a>.
                    <h4 ng-style='{"color": deterministicWebColor("title")}'>Dakota Pailes-Friedman</h4>
                    <p>Dakota (AKA "Dakota PF") is a Brooklyn-born and -based artist. As half of <a href="https://vimeo.com/lowresfilm">LOW-RES FILMS</a>, he directs, edits, writes and designs sound for <span style="background-color: yellow">live-action and animation films</span>. Outside of film-making, Dakota also paints and creates digital design work, and teaches kids karate.
                    <h4 ng-style='{"color": deterministicWebColor("Taylor Black")}'>Taylor Black</h4>
                    <p>Taylor is a tech educator with a background in technical theatre and 3D design software. She is currently a PhD candidate at NYU Performance Studies, with a research focus in <span style="background-color: yellow">online community building</span>.
                    Taylor's computer course experience includes Achievement First Endeavor Middle School, NYU Magnet game center, and the Arvada Center for the Arts and Humanities.</p>
                    <h4 ng-style='{"color": deterministicWebColor("Bryn Haffey")}'>Bryn Haffey</h4>
                    <p>Bryn is a data engineer at an advertising technology company and holds a Master's in Computer Science.  She has prior experience teaching introductory programming courses to first year college students, but loves younger children, especially her own niece and nephew.  She lives with her husband and <span style="background-color: yellow">rescue dog named Franklyn</span> in Clinton Hill and enjoys biking and Pixar movies.
                    <h4 ng-style='{"color": deterministicWebColor("Katya Vasilaky")}'>Katya Vasilaky</h4>
                    <p>Katya is a postdoc in economics at Columbia University, an upcoming instructor at Girls Who Code in NYC 2016, akd a co-organizer of Pyladies NYC. She also <span style="background-color: yellow">volunteers as a dance teacher</span> in Harlem schools and has danced ballet professinally. See more on <a href="https://katyavasilaky.com/">her site.</a>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <a name="articles"></a>
          <div class="page-section content-full padding-xs bg-default" style="background-color: orange; ">
            <div class="container">
              <div class="section-content">
                <div class="section-columns">
                  <div class="clearfix" style="height:5px"></div>
                  <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                      <h1 class="text-center" style="font-family: Raleway; font-weight: 400; color: white;">Articles by and about us
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div style="position: relative; width: 100%; ">
            <div style="position: relative; margin: 0 auto; ">


              <ul style="list-style-type: none; ">

                <li style="padding-top: 2vw; padding-bottom: 2vw; ">
                  <a style="width: 500px; max-width: 100%;min-width: 220px; display: block; position: relative; margin: 0 auto; "
                    href="https://www.dnainfo.com/new-york/20151229/bed-stuy/creative-engineering-class-teaches-kids-coding-programming "><img width="100% " style="border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px; "
                      src="images/dnainfo_embed_compressed.jpg" /></a>
                </li>

                <li style="padding-top: 2vw; padding-bottom: 2vw; ">
                  <a style="width: 500px; max-width: 100%;min-width: 220px; display: block; position: relative; margin: 0 auto; "
                    href="http://makezine.com/2015/12/17/how-to-teach-programming-kids-pretend-be-robot/ "><img width="100% " style="border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px; "
                      src="images/make_robot_embed_compressed.jpg" /></a>
                </li>

                <li style="padding-top: 2vw; padding-bottom: 2vw; ">
                  <a style="width: 500px; max-width: 100%;min-width: 220px; display: block; position: relative; margin: 0 auto; "
                    href="https://medium.com/@benjiwheeler/gifts-to-stimulate-kids-minds-a4b93dcee97e "><img width="100% " style="border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px; "
                      src="images/gifts_stimulate_embed.jpg" /></a>
                  <!--
                  <a href="https://medium.com/@benjiwheeler/gifts-to-stimulate-kids-minds-a4b93dcee97e "><iframe src="https://api.medium.com/embed?type=story&amp;path=%2F%40benjiwheeler%2Fgifts-to-stimulate-kids-minds-a4b93dcee97e&amp;id=0&amp;collapsed=true "
                      allowtransparency="true " frameborder="0 " title="Embedded story "
                      width="500 " height="315 " style="margin: 0 auto; display: block;max-width: 100%;min-width: 220px;padding: 0;position: static;visibility: visible;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;border-color: #eee #ddd #bbb;border-width: 1px;border-style: solid;box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px; "></iframe></a>
                  -->
                </li>

                <li style="padding-top: 2vw; padding-bottom: 2vw; ">
                  <a style="width: 500px; max-width: 100%;min-width: 220px; display: block; position: relative; margin: 0 auto; "
                    href="https://medium.com/@benjiwheeler/the-maker-s-pledge-137aa45b118a"><img width="100% " style="border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px; "
                      src="images/makers_pledge_embed.jpg" /></a>
                  <!--
                  <a href="https://medium.com/@benjiwheeler/the-maker-s-pledge-137aa45b118a "><iframe src="https://api.medium.com/embed?type=story&amp;path=%2F%40benjiwheeler%2Fthe-maker-s-pledge-137aa45b118a&amp;id=1&amp;collapsed=true "
                      allowtransparency="true " frameborder="0 " title="Embedded story "
                      width="500 " height="295 " style="margin: 0 auto; display: block;max-width: 100%;min-width: 220px;padding: 0;position: static;visibility: visible;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;border-color: #eee #ddd #bbb;border-width: 1px;border-style: solid;box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px; "></iframe></a>
                  -->
                </li>
              </ul>
            </div>
          </div>





          <a name="faq"></a>
          <div class="page-section content-full padding-xs bg-default" style="background-color: #5cb85c; ">
            <div class="container">
              <div class="section-content">
                <div class="section-columns">
                  <div class="clearfix" style="height:5px"></div>
                  <div class="row">
                    <h1 class="text-center" style="font-family: Raleway; font-weight: 400; color: white;">FAQ
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-section content-fixed bg-default padding-xs" style="">
            <div class="container">
              <div class="section-content">
                <div class="clearfix" style="height:5px"></div>
                <div class="row">
                  <div class="col-xs-10 col-offset-1">
                    <h4>Questions/answers to come!</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>




          <a name="contact"></a>
          <div class="page-section content-full padding-xs bg-default" style="background-color: #d9534f; ">
            <div class="container">
              <div class="section-content">
                <div class="section-columns">
                  <div class="clearfix" style="height:5px"></div>
                  <div class="row">
                    <h1 class="text-center" style="font-family: Raleway; font-weight: 400; color: white;">Contact
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-section content-fixed bg-default padding-xs" style="">
            <div class="container">
              <div class="section-content">
                <div class="clearfix" style="height:5px"></div>
                <div class="row">
                  <div class="col-xs-10 col-offset-1">
                    <h4>All questions welcome, anytime!</h4>
                    <h4>info@adaandleo.com</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>





          <footer>




            <!-- footer, should put common info here
 -->
            <!--
  <div class="container ">
    <div class="row ">


      <div class="col-md-4 column ">
        <div id="text-3 " class="widget widget_text ">      <div class="textwidget "><p><img src="wp-content/themes/mito/assets/img/placeholder/logo.png " alt=" " /></p>
<p>Curabitur pellentesque nisl risus, sed bibendum velit blandit non. Etiam volutpat laoreet nibh, vel interdum ipsum. Fusce sagittis nisl quam, eu varius nibh gravida at. Fusce tempus urna in sem adipiscing pulvinar.</p>
</div>
    </div>      </div>

      <div class="col-md-4 column ">
            <div id="recent-posts-2 " class="widget widget_recent_entries ">    <h3 class="widget-title ">Recent Posts</h3>   <ul>
          <li>
        <a href="index.html?p=5717 ">The Theory of Revolution</a>
              <span class="post-date ">July 1, 2014</span>
            </li>
          <li>
        <a href="index.html?p=5651 ">Goodbye Popcorn Time</a>
              <span class="post-date ">July 1, 2014</span>
            </li>
          <li>
        <a href="index.html?p=5655 ">First Lesson</a>
              <span class="post-date ">July 1, 2014</span>
            </li>
        </ul>
    </div>      </div>


      <div class="col-md-4 column ">
        <div id="md_widget_twitter-3 " class="widget widget_md_widget_twitter "><h3 class="widget-title ">TWITTER WIDGET</h3>
    <ul>
        </ul>

    </div>      </div>


          </div>
  </div>
-->




            <img class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 "
            style="padding-xs " src="images/colortextlogo_inverted.png " />


            <div class="clearfix"></div>


            <div id="copyright ">
              <div class="row">
                <div class="container">
                  <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" style="text-align: center">
                    <div id="copyright-text ">Adapted from a design by <a href="http://www.themesholic.com "
                      target="_blank ">Themesholic.com</a></div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </footer>
        </div>

    </div>
    <!-- end page container -->

  </div>
  <!-- end wrap -->

  <script type='text/javascript' src='wp-content/themes/mito/assets/js/vendor/bootstrap.js'></script>
  <script type='text/javascript' src='wp-content/themes/mito/assets/js/vendor/plugins.js'></script>
  <script type='text/javascript' src='wp-content/themes/mito/assets/js/theme.js'></script>

</body>

</html>
